<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'user_show_follow' %>
    </section>
    <section>
      <%= render 'users_avatars_show_follow' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'users_show_follow' %>
  </div>
</div>